<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estados e Cidades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<style>
    th {text-align: center;}
    td {text-align: center;}
    h1 {text-align: center;}
</style>

<body>

    <div class="container mt-4">

        <h1 class="mb-4">Estados brasileiros</h1>

        <table class="table table-striped table-bordered">
            <tr>
                <th>UF</th>
                <th>Nome do estado</th>
                <th>Quantidade de cidades</th>
                <th>Capital</th>
                <th>Gentílico</th>
            </tr>

            {% for estado in lista_estados %}
            <tr>
                <td>{{ estado.uf }}</td>
                <td><a href="{% url 'rotaCidades' estado.uf %}">{{ estado.estado }}</a></td>
                <td>{{ estado.cidades }}</td>
                <td>{{ estado.capital }}</td>
                <td>{{ estado.gentilico }}</td>
            </tr>
            {% endfor %}

        </table>

        <!-- <div class="ratio ratio-16x9 w-25">
            <iframe src="https://www.youtube.com/embed/Z7pFwsX6UVc?si=TLCGPmrdhTM2j2TP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div> -->

    </div>

</body>

</html>